@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./css/reset.css);
@import url(./css/color-palette.css);
@import url(./css/typography.css);
@import url(./css/elements/container.css);
@import url(./css/elements/searchbar.css);
@import url(./css/elements/welcome.css);
@import url(./css/elements/suggestions-list.css);
@import url(./css/elements/logo.css);


/* .container {
  max-width: 1080px;
  margin: 20px auto;
}

ol {
  list-style: none;
}

.flex-li {
  display: flex;
}

.fli-content {
  margin: auto;
}  */